---

# MARK: RBAC

rbac: []
# - name: kcm-ns-viewer
#   namespace: kcm-system
#   role:
#     kind: ClusterRole
#     name: kcm-namespace-viewer-role
#   subjects:
#     - kind: Group
#       name: admins
#       apiGroup: rbac.authorization.k8s.io

# MARK: Authentication

auth:
  enabled: true
  name: default-supervisor-jwt-authenticator
  audience: kubernetes
  issuer:
    url: https://pinniped-supervisor.ucp.svc.cluster.local/default
    # ca: |
    #   -----BEGIN CERTIFICATE-----
    #   -----END CERTIFICATE-----

# MARK: Domain

domain:
  enabled: false
  providers: []
  #   - name: vault
  issuer:
    url: https://pinniped-supervisor.ucp.svc.cluster.local/default

# MARK: IDP

idp:
  enabled: false
  issuer:
    url: https://vault.ucp.svc.cluster.local:8200/v1/identity/oidc/provider/default
    secret:
      create: true
      clientID: null
      clientSecret: null
    # ca: |
    #   -----BEGIN CERTIFICATE-----
    #   -----END CERTIFICATE-----

# MARK: Pinniped

pinniped:
  install: false
  image:
    registry: docker.io
    repository: bitnami/pinniped
    tag: 0.40.0-debian-12-r2
    digest: ""
  concierge:
    enabled: true
    replicaCount: 1
    configuration: |
      discovery:
        url: null
      api:
        servingCertificate:
          durationSeconds: 2592000
          renewBeforeSeconds: 2160000
      apiGroupSuffix: pinniped.dev
      {{- if .Values.concierge.configurationPorts.aggregatedAPIServerPort }}
      aggregatedAPIServerPort: {{ .Values.concierge.configurationPorts.aggregatedAPIServerPort }}
      {{- end }}
      {{- if .Values.concierge.configurationPorts.impersonationProxyServerPort }}
      impersonationProxyServerPort: {{ .Values.concierge.configurationPorts.impersonationProxyServerPort }}
      {{- end }}
      names:
        servingCertificateSecret: {{ printf "%s-%s" (include "pinniped.concierge.api.fullname" .) "tls-serving-certificate" | trunc 63 | trimSuffix "-" }}
        credentialIssuer: {{ template "pinniped.concierge.fullname" . }}
        apiService: {{ template "pinniped.concierge.api.fullname" . }}
        impersonationLoadBalancerService: {{ printf "%s-%s" (include "pinniped.concierge.impersonation-proxy.fullname" .) "load-balancer" | trunc 63 | trimSuffix "-" }}
        impersonationClusterIPService: {{ printf "%s-%s" (include "pinniped.concierge.impersonation-proxy.fullname" .) "cluster-ip" | trunc 63 | trimSuffix "-" }}
        impersonationTLSCertificateSecret: {{ printf "%s-%s" (include "pinniped.concierge.impersonation-proxy.fullname" .) "tls-serving-certificate" | trunc 63 | trimSuffix "-" }}
        impersonationCACertificateSecret: {{ printf "%s-%s" (include "pinniped.concierge.impersonation-proxy.fullname" .) "ca-certificate" | trunc 63 | trimSuffix "-" }}
        impersonationSignerSecret: {{ printf "%s-%s" (include "pinniped.concierge.impersonation-proxy.fullname" .) "signer-ca-certificate" | trunc 63 | trimSuffix "-" }}
        impersonationProxyServiceAccount: {{ template "pinniped.concierge.impersonation-proxy.serviceAccountName" . }}
        impersonationProxyLegacySecret: {{ template "pinniped.concierge.impersonation-proxy.serviceAccountName" . }}
        agentServiceAccount: {{ template "pinniped.concierge.kube-cert-agent.fullname" . }}
      labels: {"app":"pinniped-concierge","app.kubernetes.io/part-of":"pinniped", "app.kubernetes.io/component": "concierge", "app.kubernetes.io/instance": "{{ .Release.Name }}"}
      kubeCertAgent:
        namePrefix: {{ printf "%s-%s" (include "pinniped.concierge.fullname" .) "kube-cert-agent" | trunc 63 | trimSuffix "-" }}-
        image: {{ template "pinniped.image" . }}
        {{- include "pinniped.config.imagePullSecrets" (dict "images" (list .Values.image) "global" .Values.global) | nindent 2 }}
    credentialIssuerConfig: |
      impersonationProxy:
        mode: auto
        service:
          type: LoadBalancer
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "4000"
    resourcesPreset: none
  supervisor:
    enabled: false
    replicaCount: 1
    configuration: |
      apiGroupSuffix: pinniped.dev
      names:
        defaultTLSCertificateSecret: {{ printf "%s-%s" (include "pinniped.supervisor.fullname" .) "default-tls-certificate" | trunc 63 | trimSuffix "-" }}
        apiService: {{ template "pinniped.supervisor.api.fullname" . }}
      labels: {"app.kubernetes.io/part-of":"pinniped", "app.kubernetes.io/component": "supervisor", "app.kubernetes.io/instance": "{{ .Release.Name }}"}
      insecureAcceptExternalUnencryptedHttpRequests: false
    resourcesPreset: none
    service:
      public:
        type: ClusterIP

ca:
  issuers: null

  # MARK: - Certificate

  certificates:
    []
    # - name: supervisor-tls-cert
    #   dns:
    #     name: pinniped-supervisor.ucp.svc.cluster.local
    #     aliases:
    #       - pinniped-supervisor.ucp.svc.cluster.local
    #       - pinniped-supervisor.ucp.svc
    #       - pinniped-supervisor.ucp
    #       - pinniped-supervisor
    #   issuerRef:
    #     name: pinniped-ca-issuer
    #     kind: Issuer

gateway:
  gateways: null

  # MARK: Routes

  routes:
    []
    # - name: pinniped
    #   kind: HTTPRoute
    #   hostnames:
    #     - pinniped.local
    #   rules:
    #     - matches:
    #         - path:
    #             type: PathPrefix
    #             value: /
    #       # FIXME: backend service
    #       backendRefs:
    #         - name: pinniped
    #           port: 80
    #   gateways:
    #     - name: pinniped-gateway

  # MARK: Policies

  policies:
    []
    # - name: tls-upstream-dev
    #   validation:
    #     hostname: dev.example.com
    #     wellKnownCACertificates: System
    #     # caCertificateRefs:
    #     #   - group: ""
    #     #     kind: ConfigMap
    #     #     name: auth-cert
