[submodule "modules/dotfiles"]
  path = modules/dotfiles
  url = https://github.com/anselmes/dotfiles.git
[submodule "modules/tooling"]
  path = modules/tooling
  url = https://github.com/anselmes/tooling.git
[submodule "modules/osh/openstack-helm"]
  path = modules/osh/openstack-helm
  url = https://opendev.org/openstack/openstack-helm.git
[submodule "modules/osh/openstack-helm-infra"]
  path = modules/osh/openstack-helm-infra
  url = https://opendev.org/openstack/openstack-helm-infra.git
