---
# MARK: Envoy

envoy:
  enabled: true

  classes:
    []
    # - name: envoy
    #   description: "Default Envoy Gateway class"
    #   # controllerName: gateway.envoyproxy.io/gatewayclass-controller  # Uses default from config.envoyGateway.gateway.controllerName
    #   # labels:
    #   #   environment: production
    #   # annotations:
    #   #   example.com/config: "default-settings"
    #   # parametersRef:
    #   #   group: gateway.envoyproxy.io
    #   #   kind: EnvoyProxy
    #   #   name: default-proxy-config

  deployment:
    envoyGateway:
      image:
        # if both this and global.imageRegistry are specified, this has to include both registry and repository explicitly, eg docker.io/envoyproxy/gateway
        repository: ""
        tag: ""
      imagePullPolicy: ""
      imagePullSecrets: []
      resources:
        limits:
          memory: 1024Mi
        requests:
          cpu: 100m
          memory: 256Mi
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
        privileged: false
        runAsNonRoot: true
        runAsGroup: 65532
        runAsUser: 65532
        seccompProfile:
          type: RuntimeDefault
    ports:
      - name: grpc
        port: 18000
        targetPort: 18000
      - name: ratelimit
        port: 18001
        targetPort: 18001
      - name: wasm
        port: 18002
        targetPort: 18002
      - name: metrics
        port: 19001
        targetPort: 19001
    priorityClassName: null
    replicas: 1
    pod:
      affinity: {}
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '19001'
      labels: {}
      topologySpreadConstraints: []
      tolerations: []
      nodeSelector: {}

  service:
    # If set to PreferClose, the Envoy fleet will prioritize connecting to the Envoy Gateway pods that are topologically closest to them.
    trafficDistribution: ""
    annotations: {}

  hpa:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
    metrics: []
    behavior: {}

  config:
  # -- EnvoyGateway configuration. Visit https://gateway.envoyproxy.io/docs/api/extension_types/#envoygateway to view all options.
    envoyGateway:
      gateway:
        controllerName: gateway.envoyproxy.io/gatewayclass-controller
      provider:
        type: Kubernetes
      logging:
        level:
          default: info
      extensionApis: {}

  createNamespace: false

  kubernetesClusterDomain: cluster.local

  # -- Certgen is used to generate the certificates required by EnvoyGateway. If you want to construct a custom certificate, you can generate a custom certificate through Cert-Manager before installing EnvoyGateway. Certgen will not overwrite the custom certificate. Please do not manually modify `values.yaml` to disable certgen, it may cause EnvoyGateway OIDC,OAuth2,etc. to not work as expected.
  certgen:
    job:
      annotations: {}
      args: []
      resources: {}
      affinity: {}
      tolerations: []
      nodeSelector: {}
      ttlSecondsAfterFinished: 30
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
        privileged: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsGroup: 65532
        runAsUser: 65532
        seccompProfile:
          type: RuntimeDefault
    rbac:
      annotations: {}
      labels: {}

  topologyInjector:
    enabled: true
    annotations: {}

# MARK: Nginx

nginx:
  enabled: false

  nginx:
    enabled: true

    nginxGateway:
      # -- The name of the NGINX Gateway Fabric deployment - if not present, then by default uses release name given during installation.
      name: ""

      # -- The name of the GatewayClass that will be created as part of this release. Every NGINX Gateway
      # Fabric must have a unique corresponding GatewayClass resource. NGINX Gateway Fabric only processes resources that
      # belong to its class - i.e. have the "gatewayClassName" field resource equal to the class.
      gatewayClassName: nginx

      gwAPIExperimentalFeatures:
        # -- Enable the experimental features of Gateway API which are supported by NGINX Gateway Fabric. Requires the Gateway
        # APIs installed from the experimental channel.
        enable: false

      gwAPIInferenceExtension:
        # -- Enable Gateway API Inference Extension support. Allows for configuring InferencePools to route traffic to AI workloads.
        enable: false

      snippetsFilters:
        # -- Enable SnippetsFilters feature. SnippetsFilters allow inserting NGINX configuration into the generated NGINX
        # config for HTTPRoute and GRPCRoute resources.
        enable: false

# MARK: Traefik

traefik:
  enabled: false

  # -- Create a default IngressClass for Traefik
  ingressClass:
    enabled: false

  # Traefik experimental features
  experimental:
    kubernetesGateway:
      # -- Enable traefik experimental GatewayClass CRD
      enabled: false
    # -- Enable Knative provider experimental feature.
    knative: false

  gateway:
    # -- When providers.kubernetesGateway.enabled, deploy a default gateway
    enabled: false

  gatewayClass:
    # -- When providers.kubernetesGateway.enabled and gateway.enabled, deploy a default gatewayClass
    enabled: true
    # -- Set a custom name to GatewayClass
    # name: traefik

  providers:
    kubernetesCRD:
      # -- Load Kubernetes IngressRoute provider
      enabled: false

    kubernetesIngress:
      # -- Load Kubernetes Ingress provider
      enabled: false

    kubernetesGateway:
      # -- Enable Traefik Gateway provider for Gateway API
      enabled: true
      # -- Toggles support for the Experimental Channel resources (Gateway API release channels documentation).
      # This option currently enables support for TCPRoute and TLSRoute.
      experimentalChannel: false

    knative:
      # -- Enable Knative provider
      enabled: false

  ports:
    web:
      port: 80
      exposedPort: 80
    websecure:
      port: 443
      exposedPort: 443
