---
envoy:
  enabled: true

  # MARK: Gateway Classes

  classes: []
  # - name: envoy
  #   description: "Default Envoy Gateway class"
  #   # controllerName: gateway.envoyproxy.io/gatewayclass-controller  # Uses default from config.envoyGateway.gateway.controllerName
  #   # labels:
  #   #   environment: production
  #   # annotations:
  #   #   example.com/config: "default-settings"
  #   # parametersRef:
  #   #   group: gateway.envoyproxy.io
  #   #   kind: EnvoyProxy
  #   #   name: default-proxy-config

  # MARK: Gateway API

  deployment:
    envoyGateway:
      image:
        # if both this and global.imageRegistry are specified, this has to include both registry and repository explicitly, eg docker.io/envoyproxy/gateway
        repository: ""
        tag: ""
      imagePullPolicy: ""
      imagePullSecrets: []
      resources:
        limits:
          memory: 1024Mi
        requests:
          cpu: 100m
          memory: 256Mi
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
        privileged: false
        runAsNonRoot: true
        runAsGroup: 65532
        runAsUser: 65532
        seccompProfile:
          type: RuntimeDefault
    ports:
      - name: grpc
        port: 18000
        targetPort: 18000
      - name: ratelimit
        port: 18001
        targetPort: 18001
      - name: wasm
        port: 18002
        targetPort: 18002
      - name: metrics
        port: 19001
        targetPort: 19001
    priorityClassName: null
    replicas: 1
    pod:
      affinity: {}
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '19001'
      labels: {}
      topologySpreadConstraints: []
      tolerations: []
      nodeSelector: {}

  service:
    # If set to PreferClose, the Envoy fleet will prioritize connecting to the Envoy Gateway pods that are topologically closest to them.
    trafficDistribution: ""
    annotations: {}

  hpa:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
    metrics: []
    behavior: {}

  config:
  # -- EnvoyGateway configuration. Visit https://gateway.envoyproxy.io/docs/api/extension_types/#envoygateway to view all options.
    envoyGateway:
      gateway:
        controllerName: gateway.envoyproxy.io/gatewayclass-controller
      provider:
        type: Kubernetes
      logging:
        level:
          default: info
      extensionApis: {}

  createNamespace: false

  kubernetesClusterDomain: cluster.local

  # -- Certgen is used to generate the certificates required by EnvoyGateway. If you want to construct a custom certificate, you can generate a custom certificate through Cert-Manager before installing EnvoyGateway. Certgen will not overwrite the custom certificate. Please do not manually modify `values.yaml` to disable certgen, it may cause EnvoyGateway OIDC,OAuth2,etc. to not work as expected.
  certgen:
    job:
      annotations: {}
      args: []
      resources: {}
      affinity: {}
      tolerations: []
      nodeSelector: {}
      ttlSecondsAfterFinished: 30
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
        privileged: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsGroup: 65532
        runAsUser: 65532
        seccompProfile:
          type: RuntimeDefault
    rbac:
      annotations: {}
      labels: {}

  topologyInjector:
    enabled: true
    annotations: {}

nginx:
  enabled: false

  # -- The name of the GatewayClass that will be created as part of this release. Every NGINX Gateway
  # Fabric must have a unique corresponding GatewayClass resource. NGINX Gateway Fabric only processes resources that
  # belong to its class - i.e. have the "gatewayClassName" field resource equal to the class.
  gatewayClassName: nginx

  # -- Set of custom annotations for GatewayClass objects.
  gatewayClassAnnotations: {}

traefik:
  enabled: false

  ingressClass:
    enabled: false

  gateway:
    enabled: false

  gatewayClass:
    enabled: true
    name: ""
    labels: {}

  kubernetesIngress:
    enabled: false

  kubernetesGateway:
    enabled: true

  knative:
    enabled: false
