---

# MARK: Postgres

postgres:
  enabled: false

  operatorImageRepository: docker.io/percona/percona-postgresql-operator

  # set if operator should be deployed in cluster wide mode. defaults to false
  watchAllNamespaces: false

  resources:
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you don't want to specify resources, comment the following
    # lines and add the curly braces after 'resources:'.
    limits:
      cpu: 200m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 20Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  # disableTelemetry: according to
  # https://docs.percona.com/percona-operator-for-postgresql/2.0/telemetry.html
  # this is how you can disable telemetry collection
  # default is false which means telemetry will be collected
  disableTelemetry: false

# MARK: MySQL

mysql:
  enabled: false

  image:
    repository: percona/percona-server-mysql-operator
    tag: 1.0.0
    pullPolicy: IfNotPresent

  # set if operator should be deployed in cluster wide mode. defaults to false
  watchAllNamespaces: false

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  disableTelemetry: false

# MARK: Mongo

mongo:
  enabled: false

  image:
    repository: percona/percona-server-mongodb-operator
    tag: 1.21.2
    pullPolicy: IfNotPresent

  # disableTelemetry: according to
  # https://docs.percona.com/percona-operator-for-mongodb/telemetry.html
  # this is how you can disable telemetry collection
  # default is false which means telemetry will be collected
  disableTelemetry: false

  # set if operator should be deployed in cluster wide mode. defaults to false
  watchAllNamespaces: false

  podSecurityContext: {}
    # runAsNonRoot: true
    # runAsUser: 2
    # runAsGroup: 2
    # fsGroup: 2
    # fsGroupChangePolicy: "OnRootMismatch"

  securityContext: {}
    # allowPrivilegeEscalation: false
    # capabilities:
    #   drop:
    #   - ALL
    # seccompProfile:
    #   type: RuntimeDefault

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

# MARK: Redis

redis:
  enabled: false

  redisOperator:
    name: redis-operator
    imageName: quay.io/opstree/redis-operator
    # Overrides the image tag whose default is the chart appVersion.
    imageTag: ""
    # -- initContainerImageTag is the init-config init container image tag.
    # If not specified, defaults to imageTag, then falls back to chart appVersion.
    # Typically only needs to be set when using a different version for the init container.
    initContainerImageTag: "v0.23.0"
    imagePullPolicy: Always
    imagePullSecrets: []

    # metrics configuration for monitoring
    metrics:
      # Enable metrics server
      enabled: true
      # The address the metrics endpoint binds to
      bindAddress: ":8080"

  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 500m
      memory: 500Mi

  issuer:
    # Whether to create the issuer or not. You might want to disable this if instead you
    # want to use a ClusterIssuer that you simply want to provide.
    create: true
    # You can choose Issuer or ClusterIssuer here. The first one is namespaced, the second one
    # is available for global usage.
    kind: Issuer
    type: selfSigned
    name: redis-operator-issuer
    email: shubham.gupta@opstree.com
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretName: letsencrypt-prod
    solver:
      enabled: true
      ingressClass: nginx

  certmanager:
    # Whether to use cert-manager for certificate management
    # Only effective when webhook=true
    # If webhook=true and certmanager.enabled=false, you need to manually create certificate secret
    enabled: false
    # API version of the cert-manager CRDs
    apiVersion: "cert-manager.io/v1"

  nodeSelector: {}
  tolerateAllTaints: false
  tolerations: []
  affinity: {}
