---
flux:
  enabled: false
  helmController:
    create: true
    container:
      additionalArgs:
        - --watch-label-selector=k0rdent.mirantis.com/managed=true
  kustomizeController:
    create: true
    container:
      additionalArgs:
        - --watch-label-selector=k0rdent.mirantis.com/managed=true
  sourceController:
    create: true
    container:
      additionalArgs:
        - --watch-label-selector=k0rdent.mirantis.com/managed=true
  imageAutomationController:
    create: false
  imageReflectionController:
    create: false
  notificationController:
    create: false
  policies:
    create: false

repositories: []
# - name: labsonline
#   url: oci://ghcr.io/labsonline/charts
# - name: bitnami
#   url: https://charts.bitnami.com/bitnami

# MARK: Gateway API

gwapi:
  enabled: false
  service:
    type: LoadBalancer
    # annotations:
    #   external-dns.alpha.kubernetes.io/hostname: ""

# MARK: Cert Manager

certmanager:
  enabled: false
  enableCertificateOwnerRef: true

# MARK: KCM

kcm:
  type: enterprise # enterprise, community
  replicas: 1
  repository:
    enabled: false
  release:
    enabled: false
  controller:
    createAccessManagement: false
    createManagement: false
    createRelease: false
    affinity: {}
    nodeSelector: {}
    tolerations: []
  regional:
    telemetry:
      mode: disabled  # disabled, local, online
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi
  issuer: {}
  # name: kcm-ca-issuer
  # selfSigned: true
  # secret:
  #   create: false
  gateway: {}
  # name: kcm-gateway
  # className: envoy
  # listeners:
  #   - name: https
  #     port: 443
  #     protocol: HTTPS
  #     hostname: "*.local"
  #     allowedRoutes:
  #       namespaces:
  #         from: kcm-system
  #     tls:
  #       mode: Terminate
  #       certificateRefs:
  #         - name: kcm-gw-cert
  #           issuer: kcm-ca-issuer

# MARK: KCM Enterprise

  enterprise:
    enabled: false
    version: 1.2.2
    templatesRepoURL: oci://registry.mirantis.com/k0rdent-enterprise/charts
    globalK0sURL: https://get.mirantis.com/k0rdent-enterprise/k0s
    globalRegistry: registry.mirantis.com/k0rdent-enterprise
    release:
      enabled: true
      templates:
        capi: cluster-api-1-0-7
        kcm: k0rdent-enterprise-1-2-2
        regional: kcm-regional-1-2-2
      providers:
        - name: cluster-api-provider-aws
          template: cluster-api-provider-aws-1-0-9
        - name: cluster-api-provider-azure
          template: cluster-api-provider-azure-1-0-9
        - name: cluster-api-provider-gcp
          template: cluster-api-provider-gcp-1-0-6
        - name: cluster-api-provider-infoblox
          template: cluster-api-provider-infoblox-1-0-2
        - name: cluster-api-provider-ipam
          template: cluster-api-provider-ipam-1-0-3
        - name: cluster-api-provider-k0sproject-k0smotron
          template: cluster-api-provider-k0sproject-k0smotron-1-0-12
        - name: cluster-api-provider-openstack
          template: cluster-api-provider-openstack-1-0-10
        - name: cluster-api-provider-vsphere
          template: cluster-api-provider-vsphere-1-0-6
        - name: projectsveltos
          template: projectsveltos-1-1-1
    ui:
      enabled: false
      nextAuth:
        secretKeyRef:
          name: kcm-cred
          key: NEXTAUTH_SECRET
      auth:
        basic:
          enabled: true
          username: admin
          secretKeyRef:
            name: kcm-cred
            key: KCM_ADMIN_PWD
        keycloak:
          enabled: false
          # issuer: ""
          # secretKeyRef:
          #   name: ""
          #   clientIDKey: ""
          #   clientSecretKey: ""
      route: {}
      # name: kcm-ui
      # kind: HTTPRoute
      # hostnames:
      #   - kcm.local
      # rules:
      #   - backendRefs:
      #       - name: k0rdent-ui
      #         namespace: kcm-system
      #         port: 3000
      #         weight: 100
      # gateways:
      #   - name: envoy
      #     namespace: kube-system

# MARK: KCM Community

  community:
    enabled: false
    version: 1.6.0
    templatesRepoURL: oci://ghcr.io/k0rdent/kcm/charts
    templates:
      capi: cluster-api-1-0-9
      kcm: kcm-1-6-0
      regional: kcm-regional-1-6-0
    release:
      enabled: true
      providers:
        - name: cluster-api-provider-aws
          template: cluster-api-provider-aws-1-0-10
        - name: cluster-api-provider-azure
          template: cluster-api-provider-azure-1-0-12
        - name: cluster-api-provider-gcp
          template: cluster-api-provider-gcp-1-0-7
        - name: cluster-api-provider-infoblox
          template: cluster-api-provider-infoblox-1-0-3
        - name: cluster-api-provider-ipam
          template: cluster-api-provider-ipam-1-0-4
        - name: cluster-api-provider-k0sproject-k0smotron
          template: cluster-api-provider-k0sproject-k0smotron-1-0-14
        - name: cluster-api-provider-openstack
          template: cluster-api-provider-openstack-1-0-12
        - name: cluster-api-provider-vsphere
          template: cluster-api-provider-vsphere-1-0-7
        - name: projectsveltos
          template: projectsveltos-1-1-1

# MARK: Management

management:
  enabled: true
  access:
    enabled: true
    rules: []
    # - targetNamespaces:
    #     list:
    #       - default
    #   credentials:
    #     - aws-cluster-cred
    #     - openstack-cluster-cred
    #     - remote-cluster-cred
    #     - vsphere-cluster-cred
    #   clusterTemplateChains:
    #     - adopted-cluster
    #     - aws-standalone-cp
    #     - openstack-standalone-cp
    #     - remote-cluster
    #     - vsphere-standalone-cp
    #   serviceTemplateChains:
    #     - core
    #     - addon
    #     - optional
  providers:
    - name: cluster-api-provider-aws
    - name: cluster-api-provider-azure
    - name: cluster-api-provider-gcp
    - name: cluster-api-provider-infoblox
    - name: cluster-api-provider-ipam
    - name: cluster-api-provider-k0sproject-k0smotron
    - name: cluster-api-provider-openstack
    - name: cluster-api-provider-vsphere
    - name: projectsveltos
