---

# MARK: Routes

# Define the routes for the Gateway API.
# Each route specifies the type of traffic (e.g., HTTP, TLS, gRPC) and the backend services to route to.
routes:
  []
  # - name: nginx
  #   kind: HTTPRoute
  #   hostnames:
  #     - nginx.local
  #   rules:
  #     - backendRefs:
  #         - name: nginx-svc
  #           port: 80
  #   gateways:
  #     - name: default-gateway
  #       namespace: default
  # - name: kafka
  #   kind: TLSRoute
  #   rules:
  #     - backendRefs:
  #         - name: kafka-svc
  #           port: 9092
  #   gateways:
  #     - name: tls-gateway
  # - name: hello-world
  #   kind: GRPCRoute
  #   rules:
  #     - backendRefs:
  #         - name: hello-world-svc
  #           port: 8080
  #   gateways:
  #     - name: grpc-gateway

# MARK: Policies

# Define policies for the Gateway API.
# Policies can include validation rules, such as hostname validation or certificate references.
policies:
  []
  # - name: tls-upstream-dev
  #   validation:
  #     hostname: dev.example.com
  #     wellKnownCACertificates: System
  #     caCertificateRefs:
  #       - group: ""
  #         kind: ConfigMap
  #         name: auth-cert
  #   targetRefs:
  #     - group: ""
  #       kind: Service
  #       name: dev-backend
  #       namespace: default

# MARK: Grants

# Define resource grants for the Gateway API.
# Grants specify which resources (e.g., Secrets) can be referenced by Gateways.
grants:
  []
  # - name: allow-gateways-to-ref-secrets
  #   to:
  #     - group: ""
  #       kind: Secret
  #       namespace: cert-manager
  #   from:
  #     - group: gateway.networking.k8s.io
  #       kind: Gateway
  #       namespace: kube-system

# MARK: Gateways

# Define the Gateway configurations.
# Each Gateway specifies its name, class, and listeners for handling traffic.
gateways:
  - name: default-gateway
    className: envoy
    # addresses:
    #   - type: IPAddress
    #     value: 10.200.201.2
    listeners:
      - name: http
        port: 80
        protocol: HTTP
        allowedRoutes:
          namespaces:
            from: All
      # - name: https
      #   port: 443
      #   protocol: HTTPS
      #   hostname: "*.local"
      #   allowedRoutes:
      #     namespaces:
      #       from: All
      #   tls:
      #     mode: Terminate
      #     certificateRefs:
      #       - name: default-gw-cert
      #         issuer: self-signed-ca-issuer
  # - name: tls-gateway
  #   className: envoy
  #   listeners:
  #     - name: tls
  #       port: 443
  #       protocol: TLS
  #       allowedRoutes:
  #         namespaces:
  #           from: All
  #         kinds:
  #           - kind: TLSRoute
  #       tls:
  #         mode: Passthrough
  # - name: grpc-gateway
  #   className: envoy
  #   listeners:
  #     - name: http
  #       port: 80
  #       protocol: HTTP
  #       allowedRoutes:
  #         namespaces:
  #           from: All
  #         kinds:
  #           - kind: GRPCRoute
  #     - name: grpc
  #       port: 443
  #       protocol: HTTPS
  #       hostname: "*.rpc.local"
  #       allowedRoutes:
  #         namespaces:
  #           from: All
  #         kinds:
  #           - kind: GRPCRoute
  #       tls:
  #         mode: Terminate
  #         certificateRefs:
  #           - name: grpc-gw-cert
  #             issuer: self-signed-ca-issuer
