---
vault:
  global:
    # -- enabled is the master enabled switch. Setting this to true or false
    # will enable or disable all the components within this chart by default.
    enabled: true

  injector:
    # -- True if you want to enable openbao agent injection. @default: global.enabled
    enabled: "-"

    replicas: 1

    # -- If true, will enable a node exporter metrics endpoint at /metrics.
    metrics:
      enabled: false

    # -- agentImage sets the repo and tag of the OpenBao image to use for the OpenBao Agent
    # containers.  This should be set to the official OpenBao image.  OpenBao 1.3.1+ is
    # required.
    agentImage:
      # -- image registry to use for agent image
      registry: quay.io
      # -- image repo to use for agent image
      repository: openbao/openbao
      # -- image tag to use for agent image - defaults to chart appVersion
      tag: ""
      # -- image pull policy to use for agent image. if tag is "latest", set to "Always"
      pullPolicy: IfNotPresent

    # Affinity Settings for injector pods
    # This can either be a multi-line string or YAML matching the PodSpec's affinity field.
    # Commenting out or setting as empty the affinity variable, will allow
    # deployment of multiple replicas to single node services such as Minikube.
    affinity: |
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/name: {{ template "openbao.name" . }}-agent-injector
                app.kubernetes.io/instance: "{{ .Release.Name }}"
                component: webhook
            topologyKey: kubernetes.io/hostname

    # Toleration Settings for injector pods
    # This should be either a multi-line string or YAML matching the Toleration array
    # in a PodSpec.
    tolerations: []

    # nodeSelector labels for server pod assignment, formatted as a multi-line string or YAML map.
    # ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector
    # Example:
    # nodeSelector:
    #   beta.kubernetes.io/arch: amd64
    nodeSelector: {}

  server:
    # If true, or "-" with global.enabled true, OpenBao server will be installed.
    # See openbao.mode in _helpers.tpl for implementation details.
    enabled: "-"

    image:
      # -- image registry to use for server image
      registry: quay.io
      # -- image repo to use for server image
      repository: openbao/openbao-hsm
      # -- image tag to use for server image - defaults to chart appVersion
      tag: ""
      # -- image pull policy to use for server image. if tag is "latest", set to "Always"
      pullPolicy: IfNotPresent

    resources: {}
    # resources:
    #   requests:
    #     memory: 256Mi
    #     cpu: 250m
    #   limits:
    #     memory: 256Mi
    #     cpu: 250m

    # Gateway consolidates configuration related to the Kubernetes Gateway API
    # Currently, only creating a TLSRoute is supported
    # See: https://gateway-api.sigs.k8s.io/
    gateway:
      # Configures a TLSRoute for the OpenBao server. This can be enabled independently of the ingress configuration to allow for side-by-side scenarios for migration.
      tlsRoute:
        enabled: false
        labels: {}
        # traffic: external
        annotations: {}
        # external-dns.alpha.kubernetes.io/hostname: chart-example.local

        hosts: []
          # - chart-example.local

        # Allows overriding the TLSRoutes apiVersion in case a different version of Gateway API is installed on the cluster.
        apiVersion: gateway.networking.k8s.io/v1alpha3

        # When HA mode is enabled and K8s service registration is being used,
        # configure the ingress to point to the OpenBao active service.
        activeService: true

        # List of ParentRefs. As the helm chart configures no gateways itself,
        # this should be set to at least one gateway with one or more TLS listeners
        parentRefs: []
          # - name: my-gw
          #   namespace: gateway-namespace
          #   # sectionName is optional to fix to a specific listener
          #   sectionName: listener-name

    # -- extraInitContainers is a list of init containers. Specified as a YAML list.
    # This is useful if you need to run a script to provision TLS certificates or
    # write out configuration files in a dynamic way.
    extraInitContainers: []
      # # This example installs a plugin pulled from github into the /usr/local/libexec/vault/oauthapp folder,
      # # which is defined in the volumes value.
      # - name: oauthapp
      #   image: "alpine"
      #   command: [sh, -c]
      #   args:
      #     - cd /tmp &&
      #       wget https://github.com/puppetlabs/vault-plugin-secrets-oauthapp/releases/download/v1.2.0/vault-plugin-secrets-oauthapp-v1.2.0-linux-amd64.tar.xz -O oauthapp.xz &&
      #       tar -xf oauthapp.xz &&
      #       mv vault-plugin-secrets-oauthapp-v1.2.0-linux-amd64 /usr/local/libexec/vault/oauthapp &&
      #       chmod +x /usr/local/libexec/vault/oauthapp
      #   volumeMounts:
      #     - name: plugins
      #       mountPath: /usr/local/libexec/vault

    # extraContainers is a list of sidecar containers. Specified as a YAML list.
    extraContainers: null

    # -- extraArgs is a string containing additional OpenBao server arguments.
    extraArgs: ""

    # Used to define commands to run after the pod is ready.
    # This can be used to automate processes such as initialization
    # or bootstrapping auth methods.
    postStart: []
    # - /bin/sh
    # - -c
    # - /openbao/userconfig/myscript/run.sh

    # extraEnvironmentVars is a list of extra environment variables to set with the stateful set. These could be
    # used to include variables required for auto-unseal.
    extraEnvironmentVars: {}
      # GOOGLE_REGION: global
      # GOOGLE_PROJECT: myproject
      # GOOGLE_APPLICATION_CREDENTIALS: /openbao/userconfig/myproject/myproject-creds.json

    # extraSecretEnvironmentVars is a list of extra environment variables to set with the stateful set.
    # These variables take value from existing Secret objects.
    extraSecretEnvironmentVars: []
      # - envName: AWS_SECRET_ACCESS_KEY
      #   secretName: openbao
      #   secretKey: AWS_SECRET_ACCESS_KEY

    # volumes is a list of volumes made available to all containers. These are rendered
    # via toYaml rather than pre-processed like the extraVolumes value.
    # The purpose is to make it easy to share volumes between containers.
    volumes: null
    #   - name: plugins
    #     emptyDir: {}

    # volumeMounts is a list of volumeMounts for the main server container. These are rendered
    # via toYaml rather than pre-processed like the extraVolumes value.
    # The purpose is to make it easy to share volumes between containers.
    volumeMounts: null
    #   - mountPath: /usr/local/libexec/vault
    #     name: plugins
    #     readOnly: true

    # Affinity Settings
    # Commenting out or setting as empty the affinity variable, will allow
    # deployment to single node services such as Minikube
    # This should be either a multi-line string or YAML matching the PodSpec's affinity field.
    affinity: |
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/name: {{ template "openbao.name" . }}
                app.kubernetes.io/instance: "{{ .Release.Name }}"
                component: server
            topologyKey: kubernetes.io/hostname

    # Toleration Settings for server pods
    # This should be either a multi-line string or YAML matching the Toleration array
    # in a PodSpec.
    tolerations: []

    # nodeSelector labels for server pod assignment, formatted as a multi-line string or YAML map.
    # ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector
    # Example:
    # nodeSelector:
    #   beta.kubernetes.io/arch: amd64
    nodeSelector: {}

    # Enables network policy for server pods
    networkPolicy:
      enabled: false
      egress: []
      # egress:
      # - to:
      #   - ipBlock:
      #       cidr: 10.0.0.0/24
      #   ports:
      #   - protocol: TCP
      #     port: 443
      ingress:
        - from:
            - namespaceSelector: {}
          ports:
            - port: 8200
              protocol: TCP
            - port: 8201
              protocol: TCP

    # This configures the OpenBao Statefulset to create a PVC for data
    # storage when using the file or raft backend storage engines.
    # See https://openbao.org/docs/configuration/storage to know more
    dataStorage:
      enabled: true
      # Size of the PVC created
      size: 10Gi
      # Location where the PVC will be mounted.
      mountPath: /openbao/data
      # Name of the storage class to use.  If null it will use the
      # configured default Storage Class.
      storageClass: null
      # Access Mode of the storage device being used for the PVC
      accessMode: ReadWriteOnce
      # Annotations to apply to the PVC
      annotations: {}
      # Labels to apply to the PVC
      labels: {}

    # This configures the OpenBao Statefulset to create a PVC for audit
    # logs.  Once OpenBao is deployed, initialized, and unsealed, OpenBao must
    # be configured to use this for audit logs.  This will be mounted to
    # /openbao/audit
    # See https://openbao.org/docs/audit to know more
    auditStorage:
      enabled: false
      # Size of the PVC created
      size: 10Gi
      # Location where the PVC will be mounted.
      mountPath: /openbao/audit
      # Name of the storage class to use.  If null it will use the
      # configured default Storage Class.
      storageClass: null
      # Access Mode of the storage device being used for the PVC
      accessMode: ReadWriteOnce
      # Annotations to apply to the PVC
      annotations: {}
      # Labels to apply to the PVC
      labels: {}

    # Run OpenBao in "standalone" mode. This is the default mode that will deploy if
    # no arguments are given to helm. This requires a PVC for data storage to use
    # the "file" backend.  This mode is not highly available and should not be scaled
    # past a single replica.
    standalone:
      enabled: "-"

      # config is a raw string of default configuration when using a Stateful
      # deployment. Default is to use a PersistentVolumeClaim mounted at /openbao/data
      # and store data there. This is only used when using a Replica count of 1, and
      # using a stateful set. This should be HCL.

      # Note: Configuration files are stored in ConfigMaps so sensitive data
      # such as passwords should be either mounted through extraSecretEnvironmentVars
      # or through a Kube secret.  For more information see:
      # https://openbao.org/docs/platform/k8s/helm/run/#protecting-sensitive-openbao-configurations
      config: |
        ui = true

        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
          # Enable unauthenticated metrics access (necessary for Prometheus Operator)
          #telemetry {
          #  unauthenticated_metrics_access = "true"
          #}
        }
        storage "file" {
          path = "/openbao/data"
        }

        # Example configuration for using auto-unseal, using Google Cloud KMS. The
        # GKMS keys must already exist, and the cluster must have a service account
        # that is authorized to access GCP KMS.
        #seal "gcpckms" {
        #   project     = "openbao-helm-dev"
        #   region      = "global"
        #   key_ring    = "openbao-helm-unseal-kr"
        #   crypto_key  = "openbao-helm-unseal-key"
        #}

        # Example configuration for enabling Prometheus metrics in your config.
        #telemetry {
        #  prometheus_retention_time = "30s"
        #  disable_hostname = true
        #}

    # Run OpenBao in "HA" mode. There are no storage requirements unless the audit log
    # persistence is required.  In HA mode OpenBao will configure itself to use Consul
    # for its storage backend.  The default configuration provided will work the Consul
    # Helm project by default.  It is possible to manually configure OpenBao to use a
    # different HA backend.
    ha:
      enabled: false
      replicas: 3

      # Note: Configuration files are stored in ConfigMaps so sensitive data
      # such as passwords should be either mounted through extraSecretEnvironmentVars
      # or through a Kube secret.  For more information see:
      # https://openbao.org/docs/platform/k8s/helm/run/#protecting-sensitive-openbao-configurations
      config: |
        ui = true

        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }
        storage "consul" {
          path = "openbao"
          address = "HOST_IP:8500"
        }

        service_registration "kubernetes" {}

        # Example configuration for using auto-unseal, using Google Cloud KMS. The
        # GKMS keys must already exist, and the cluster must have a service account
        # that is authorized to access GCP KMS.
        #seal "gcpckms" {
        #   project     = "openbao-helm-dev-246514"
        #   region      = "global"
        #   key_ring    = "openbao-helm-unseal-kr"
        #   crypto_key  = "openbao-helm-unseal-key"
        #}

        # Example configuration for enabling Prometheus metrics.
        # If you are using Prometheus Operator you can enable a ServiceMonitor resource below.
        # You may wish to enable unauthenticated metrics in the listener block above.
        #telemetry {
        #  prometheus_retention_time = "30s"
        #  disable_hostname = true
        #}

  # OpenBao is able to collect and publish various runtime metrics.
  # Enabling this feature requires setting adding `telemetry{}` stanza to
  # the OpenBao configuration. There are a few examples included in the `config` sections above.
  #
  # For more information see:
  # https://openbao.org/docs/configuration/telemetry
  # https://openbao.org/docs/internals/telemetry
  serverTelemetry:
    # Enable support for the Prometheus Operator. If authorization is not required for
    # OpenBao's metrics endpoint, the following OpenBao server `telemetry{}` config must be included
    # in the `listener "tcp"{}` stanza
    #  telemetry {
    #    unauthenticated_metrics_access = "true"
    #  }
    #
    # See the `standalone.config` for a more complete example of this.
    #
    # In addition, a top level `telemetry{}` stanza must also be included in the OpenBao configuration:
    #
    # example:
    #  telemetry {
    #    prometheus_retention_time = "30s"
    #    disable_hostname = true
    #  }
    #
    # Configuration for monitoring the OpenBao server.
    serviceMonitor:
      # The Prometheus operator *must* be installed before enabling this feature,
      # if not the chart will fail to install due to missing CustomResourceDefinitions
      # provided by the operator.
      #
      # Instructions on how to install the Helm chart can be found here:
      #  https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack
      # More information can be found here:
      #  https://github.com/prometheus-operator/prometheus-operator
      #  https://github.com/prometheus-operator/kube-prometheus

      # Enable deployment of the OpenBao Server ServiceMonitor CustomResource.
      enabled: false

    prometheusRules:
      # The Prometheus operator *must* be installed before enabling this feature,
      # if not the chart will fail to install due to missing CustomResourceDefinitions
      # provided by the operator.

      # Deploy the PrometheusRule custom resource for AlertManager based alerts.
      # Requires that AlertManager is properly deployed.
      enabled: false

      # Some example rules.
      rules: []
      #  - alert: vault-HighResponseTime
      #    annotations:
      #      message: The response time of OpenBao is over 500ms on average over the last 5 minutes.
      #    expr: vault_core_handle_request{quantile="0.5", namespace="mynamespace"} > 500
      #    for: 5m
      #    labels:
      #      severity: warning
      #  - alert: vault-HighResponseTime
      #    annotations:
      #      message: The response time of OpenBao is over 1s on average over the last 10 minutes.
      #    expr: vault_core_handle_request{quantile="0.5", namespace="mynamespace"} > 1000
      #    for: 10m
      #    labels:
      #      severity: critical

    grafanaDashboard:
      # Enable deployment of the OpenBao Grafana dashboard.
      # https://grafana.com/grafana/dashboards/23725-openbao
      enabled: false

      # Add `grafana_dashboard: "1"` default label
      defaultLabel: true

      # Extra labels for dashboard ConfigMap
      extraLabel: {}

      # Extra annotations for dashboard ConfigMap
      extraAnnotations: {}

  # extraObjects allows you to add any extra Kubernetes manifests to this chart
  extraObjects: []
  # Examples:
  # Defining as a Structured YAML Object Example:
  #   extraObjects:
  #   - apiVersion: v1
  #     kind: ConfigMap
  #     metadata:
  #       name: cert-manager-configmap-{{ .Release.Name }}
  #
  # Using a String for Advanced Templating Example:
  #   extraObjects:
  #   - |
  #     apiVersion: v1
  #     kind: ConfigMap
  #     metadata:
  #       name: cert-manager-configmap-{{ include "some-other-template" }}

  # Snapshot Agent Configuration
  snapshotAgent:
    # whether or not to enable the snapshot agent cronjob
    enabled: false
    # extra Annotations for the job
    annotations: {}
    # schedule of the cronjob
    schedule: "*/15 * * * *"
    restartPolicy: OnFailure
    # service account settings for the snapshot agent
    serviceAccount:
      create: true
      name: ""
      annotations: {}
      extraLabels: {}
    # The image settings for the snapshot agent
    image:
      repository: ghcr.io/openbao/openbao-snapshot-agent
      tag: 0.2.4

    # extraVolumes for the snapshot agent cronjob
    extraVolumes: {}

    # s3CredentialsSecret to use
    s3CredentialsSecret: my-s3-credentials

    # configuration for the snapshot agent
    config:
      s3Host: s3.eu-east-1.amazonaws.com
      s3Bucket: openbao-snapshots
      s3Uri: s3://openbao-snapshots
      s3ExpireDays: "14"
      s3cmdExtraFlag: -v
      baoAuthPath: kubernetes
      baoRole: snapshot

# MARK: Postgres

data:
  postgres:
    enabled: false
    postgresVersion: 17
    finalizers:
      - percona.com/delete-pvc
      - percona.com/delete-ssl
      - percona.com/delete-backups
    instances:
      - name: vault
        replicas: 3
        dataVolumeClaimSpec:
          storageClassName: ""
          resources:
            requests:
              storage: 1Gi
    proxy:
      pgBouncer:
        replicas: 2
    backups:
      enabled: false
      trackLatestRestorableTime: true

ca:
  issuers: null

  # MARK: - Certificate

  certificates:
    []
    # - name: vault
    #   dns:
    #     name: vault.local
    #     aliases:
    #       - vault.local
    #       - vault.ucp.svc.cluster.local
    #       - vault.ucp.svc
    #       - vault
    #   issuerRef:
    #     name: vault-ca-issuer
    #     kind: Issuer
