---
# MARK: AWS

aws:
  # Enable or disable the AWS Cloud Controller Manager.
  # Set to true to deploy the AWS Cloud Controller Manager in your Kubernetes cluster.
  enabled: false

  args:
    - --v=2
    - --cloud-provider=aws

  image:
      repository: registry.k8s.io/provider-aws/cloud-controller-manager
      tag: v1.27.1

  # nodeSelector -- Node labels for pod assignment. Ref: https://kubernetes.io/docs/user-guide/node-selection/.
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

  # resources -- Pod resource requests and limits.
  resources:
    # limits:
    #   cpu: 100m
    #   memory: 300Mi
    requests:
      cpu: 200m
    #   memory: 300Mi

  # env -- Pod environment variables
  env: []
  # securityContext -- Container Security Context.
  securityContext: {}
  # podSecurityContext -- Pods Security Context.
  podSecurityContext: {}

  # podAnnotations -- Pods Annotations.
  podAnnotations: {}

  # tolerations -- List of node taints to tolerate (requires Kubernetes >= 1.6).
  tolerations:
  - key: node.cloudprovider.kubernetes.io/uninitialized
    value: "true"
    effect: NoSchedule
  - key: node-role.kubernetes.io/master
    effect: NoSchedule
  - key: node-role.kubernetes.io/control-plane
    effect: NoSchedule

  extraVolumes: []
  extraVolumeMounts: []

  cloudConfig:
    enabled: false

# MARK: OpenStack

openstack:
  # Enable or disable the OpenStack Cloud Controller Manager.
  # Set to true to deploy the OpenStack Cloud Controller Manager in your Kubernetes cluster.
  enabled: false

  # Image repository name and tag
  image:
    repository: registry.k8s.io/provider-os/openstack-cloud-controller-manager
    tag: ""

  # Additional containers which are run before the app containers are started.
  extraInitContainers: []
  # - name: wait
  #   image: busybox
  #   command: ['sh', '-c', 'echo waiting for 10 seconds; sleep 10;']

  # Additional environment variables for the cloud-controller-manager.
  extraEnv: []
  # - name: OS_CCM_REGIONAL
  #   value: "true"

  # Set resources for Kubernetes daemonset
  resources: {}
  # resources:
  #   requests:
  #     cpu: 200m

  # Set livenessProbe for Kubernetes daemonset. Used the same port for servicemonitor metrics
  livenessProbe: {}
  # livenessProbe:
  #   httpGet:
  #    path: /metrics
  #    port: 10258

  # Set readinessProbe in the same way like livenessProbe
  readinessProbe: {}

  # Set nodeSelector where the controller should run, i.e. controlplane nodes
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

  # Set tolerations for nodes where the controller should run, i.e. node
  # should be uninitialized, controlplane...
  tolerations:
    - key: node.cloudprovider.kubernetes.io/uninitialized
      value: "true"
      effect: NoSchedule
    - key: node-role.kubernetes.io/control-plane
      effect: NoSchedule

  # Set security settings for the controller pods
  # For all available options, see https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#podsecuritycontext-v1-core
  podSecurityContext:
    runAsUser: 1001
    # seccompProfile:
    #   type: RuntimeDefault

  # List of controllers should be enabled.
  # Use '*' to enable all controllers.
  # Prefix a controller with '-' to disable it.
  enabledControllers:
    - cloud-node
    - cloud-node-lifecycle
    - route
    - service

  # Any extra arguments for openstack-cloud-controller-manager
  controllerExtraArgs: {}
  # controllerExtraArgs: |-
  #   - --cluster-name=my-cluster

  # Create a service monitor for Prometheus Operator
  serviceMonitor: {}
  # serviceMonitor:
  #   enabled: true

  # Create a secret resource cloud-config (or other name) to store credentials and settings from cloudConfig
  # You can also provide your own secret (not created by the Helm chart), in this case set create to false
  # and adjust the name of the secret as necessary
  # If you dont want to use a secret (because you are using something like an agent injector to inject the cloud config file)
  # you can disable the secret usage by setting enabled to false.
  # If you disable the secret, you have to insert the cloud config file into the path /etc/cloud/config.
  secret:
    enabled: true
    create: true
    name: cloud-config

  # Specify settings with the same key as the CCM config: https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md#config-openstack-cloud-controller-manager
  cloudConfig:
    global:
    networking:
    loadBalancer:
    blockStorage:
    metadata:
    route:

  # Allow for specifying internal IP addresses for multiple hostnames
  # hostAliases:
  #   - ip: "10.0.0.1"
  #     hostnames:
  #     - "keystone.hostname.com"

  # The following three volumes are required to use all OCCM controllers,
  # but might not be needed if you just use a specific controller
  # Additional volumes that should be available to the pods:
  extraVolumes:
    - name: flexvolume-dir
      hostPath:
        path: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
    - name: k8s-certs
      hostPath:
        path: /etc/kubernetes/pki
  # Where the additional volumes should be mounted into the pods:
  extraVolumeMounts:
    - name: flexvolume-dir
      mountPath: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
      readOnly: true
    - name: k8s-certs
      mountPath: /etc/kubernetes/pki
      readOnly: true

# MARK: vSphere

vsphere:
  # Enable or disable the vSphere Cloud Provider Interface (CPI).
  # Set to true to deploy the vSphere CPI in your Kubernetes cluster.
  enabled: false

  # Default values for vSphere CPI.
  # This is a YAML-formatted file.
  # vSphere CPI values are grouped by component

  config:
    enabled: false
    name: vsphere-cloud-config
    vcenter: "vcenter.local"
    username: "user"
    password: "pass"
    datacenter: "dc"
    region: "k8s-region"
    zone: "k8s-zone"
    thumbprint: ""
    secret:
      # Specifies whether Secret should be created from config values
      create: true
      # The name of the Secret referred to in the vsphere-cloud-config ConfigMap
      # If your Kubernetes platform provides this secret, set create to false and adjust the secret name
      name: vsphere-cloud-secret
  ## Specify if a Pod Security Policy for kube-state-metrics must be created
  ## Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/
  podSecurityPolicy:
    enabled: false
    annotations: {}
    # Specify pod annotations
    # Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#apparmor
    # Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#seccomp
    # Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#sysctl
    #
    # seccomp.security.alpha.kubernetes.io/allowedProfileNames: '*'
    # seccomp.security.alpha.kubernetes.io/defaultProfileName: 'docker/default'
    # apparmor.security.beta.kubernetes.io/defaultProfileName: 'runtime/default'
  # Run containers to have security context. Default is 'nobody' (65534/65534) in distroless
  securityContext:
    enabled: true
    runAsUser: 1001
    fsGroup: 1001
  # Daemonset configuration
  daemonset:
    annotations: {}
    image: registry.k8s.io/cloud-pv-vsphere/cloud-provider-vsphere
    tag: v1.33.0
    pullPolicy: IfNotPresent
    dnsPolicy: ClusterFirst
    cmdline:
      logging: 2
      # Location of the cloud configmap to be mounted on the filesystem
      cloudConfig:
        dir: "/etc/cloud"
        file: "vsphere.conf"
      additionalParams: {}
    replicaCount: 1
    resources: {}
    # limits:
    #   cpu: 500m
    #   memory: 512Mi
    # requests:
    #    cpu: 256m
    #    memory: 128Mi
    podAnnotations: {}
    ## Additional pod labels
    ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
    podLabels: {}
    ## Allows for the default tolerations to be updated or replaced with user-defined ones
    tolerations:
      - key: node.cloudprovider.kubernetes.io/uninitialized
        value: "true"
        effect: NoSchedule
      - key: node-role.kubernetes.io/control-plane
        effect: NoSchedule
        operator: Exists
      - key: node.kubernetes.io/not-ready
        effect: NoSchedule
        operator: Exists
      - key: CriticalAddonsOnly
        effect: NoExecute
        operator: Exists
    ## Allows for the default affinities to be updated or replaced with user-defined ones
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists
